.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.imageContainer img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
